* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

body {
    padding: 0 20px;
}

ul li, menu li {
    list-style-type: none;
}

section {
    height: 100vh;
}

@active-color: #2785ff;
@main-color: #1C3F39;
@prominent-color: #C9F31D;
@titleColor: #222222;
@textColor: #666666;
@descColor: #555555;